.profile{
	background-color:#f8f8f8;
	padding:80px 0 ;
	height:fit-content;
	width:100vw;
	text-align: center;
}
.profile_container{
	padding: 70px 100px;
	margin:100px auto;
	text-align:center;
	max-width:500px;
	background-color:white;
	border-radius:10px;
	box-shadow:-1px 4px 20px -6px rgba(0,0,0,0.75);
}
.profile_containerTop{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.profile_containerTopInfo{
	display:flex;
	flex-direction:column;
	flex:1;
	justify-content:center;
	align-items:flex-start;
	margin-left:40px;
	padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
.profile_containerTop > .MuiAvatar-root{
	width:100px !important;
	height:100px !important;
}
.profile_containerTop > .MuiAvatar-img{
	width:inherit !important;
	height:inherit !important;
}
.profile_containerTopInfo > h4{
	opacity:0.7;
}
.profile_containerMid{
	padding:20px;
}
.profile_containerMid > p {
    max-width: 500px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
}
h4.profile_providerType {
    text-transform: uppercase;
    color:#e42217;
    font-size: 20px;
    font-weight: 600;
}
.profile_containerBottom {
    background: rgba(0,0,0,0.07);
    padding: 20px 10px;
}
.profile_containerBottom > h1 {
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
	text-decoration-color:rgb(158, 158, 158);
	margin-bottom:20px;
}
.profile_containerBottom > p {
    font-weight: 500;
    opacity: 0.7;
    font-size: 15px;
    margin: 20px auto;
}
.profile_orderContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 400px;
    padding: 10px 0 10px 30px;
}
.profile_orderContainer > h3 {
    align-self: center;
    font-weight: 500;
    font-size: 16px;
}
.profile_orderContainer > p {
    font-size: 14px;
    margin-top: 3px;
    font-weight: 500;
    opacity: 0.9;
}
.profile_orderContainer >h5 {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: gray;
    font-size: 13px;
    color:lightseagreen;
}
.profile_orderButtons {
    margin: 10px;
}
button.accept {
    background-color: rgb(34, 155, 34);
    color: white;
    border: none;
    padding: 2px 8px;
    border-radius: 2px;
}
button.reject {
    background-color: rgb(243, 42, 42);
    color: white;
    border: none;
    padding: 2px 8px;
    border-radius: 2px;
    margin-left: 6px;
}
@media only screen and (max-width: 420x), only screen and (max-device-width: 420px){
	.profile_container{
		padding:20px 3px;
		width:98vw;
	}	
	.profile_containerTopInfo{
		margin-left:20px;
	}
	.profile_containerMid{
		padding:20px 10px;
	}
	.profile_containerBottom{
		padding:10px 0;
	}
	.profile_orderContainer {
       width:80vw;
	}
	.profile_containerBottom > h1{
		font-size:22px;
	}
	
}